@keyframes pop {
  0% {
    transform: scale(0.000001);
    transition: all ease-in;
  }
  80% {
    transform: scale(1.03);
    transition: ease-out;
  }
  100% {
    transform: scale(1);
    transition: ease-out;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leaveToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  } 
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes leaveToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  } 
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
} 

@keyframes buttonClick {
  0% {
    transform: scale(1) scaleX(0.75);
  }
  30% {
    transform: scale(0.9) scaleX(0.69);
  }
  80% {
    transform: scale(1.03) scaleX(0.77  ) ;
  }
  100% {
    transform: scale(1) scaleX(0.75);
  }
}


.slideshow-container {
  width: 100%;
  height:600px;
  padding-left: 5%;
  padding-right: 5%;
}


.slideshow-container button {
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  z-index: 2; 
  font-size: 150px;
  transform: scaleX(0.75);
  transition: all 0.2s ease;
  font-family: 'Courier New', Courier;
  font-style: bold;
  text-align: center;
}

.slideshow-button-darkmode {
  background-color: rgba(127, 127, 127, 0.3);
  color: #ddd;
}

.slideshow-button {
  background-color: rgba(127, 127, 127, 0.3);
  color: rgb(42, 42, 42);
}